$sub-color: #eee;

// $breakpoints: (
//   'sm': 'screen and (max-width: 540px)',
//   'md': 'screen and (max-width: 740px)',
//   'lg': 'screen and (min-width: 1350px)',

// ) !default;

// @mixin mq($breakpoint: md){
//     @media #{map-get($breakpoints, $breakpoint)}{
//         @content;
//     }
// }


.flex-between{
    display: flex;
    justify-content: space-between;
}
.flex-center{
    display: flex;
    justify-content: center;
}
.flex-clear{
    @include mq(md){
        display: inline-block;
        margin: 0 auto 3em auto;
    }
}

.container{
    padding: 1em 0;
    background-color: $sub-color;
    a{
        margin: 0 2em;
    }
    li{
        list-style: none;
        margin: 0 2em;
    }
}

// ドロップダウン

.menu {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    color: #fff;
    padding: 0;
    margin: 0 2em;
  }

  .menu li {
    position: relative;
    width: 100px;
    margin-left: 1px;
    padding: 5px;
    background: $sub-color;
    margin: 0;
  }

  .menu-sub {
    position: absolute;
    right: 0;
    padding: 5px;
    display: none;
  }

  .menu .menu-margin{
      margin-top: 11px;
  }

  .menu-sub li a {
    padding: 5px;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: -5px;
    display: block;
    color: #333;
    text-decoration: none;
  }

  .menu-sub li a:hover {
    background: #6989bb;
  }


//   login

.login-container{
    .card{
        width: 300px;
        height: 300px;
        background-color: rgba(238, 238, 238, 0.616);
        margin: 2em auto;
        border-radius: 50%;
        .card-header{
            margin: 6em 4em 2em 4em;
            padding: 3em 0 1em 0;
            border-bottom: 1px solid #333;
        }
        .github-link{
            a{
                display: inline-block;
                margin: 1em 2em 2em 2em;
                padding: 1em 2em;
                border: 1px solid #6b9cb2;
                border-radius: 10px;
                background-color: #57b2dc;
                &:hover{
                    box-shadow: 2px 1px 2px #6989bb;
                }
            }
        }
    }
}

// ギャラリー

.gallery-container{
    .gallery-title{
        margin: 2em 0;
    }

    .gallery-main{
        .gallery-comment{
            p{
                color: #eee;
            }
        }

    }
    .card{
        width: 300px;
        height: 300px;
        background-color: rgba(238, 238, 238, 0.616);
        margin: 2em;
        border-radius: 50%;
        .card-header{
            margin: 1em 4em 1em 4em;
            padding: 1em 0 1em 0;
            border-bottom: 1px solid #333;
        }
        .gallery-link p{
            margin: 1em 0;
        }
        .gallery-link a{
            font-size: 1em;
            padding: 0.2em;
            margin: 0.5em auto;
            border: 1px solid #6b9cb2;
            border-radius: 10px;
            background-color: #57b2dc;
            display: block;
            width: 120px;
            &:hover{
                box-shadow: 2px 1px 2px #6989bb;
            }
        }
    }
    .gallery-comment{
        width: 300px;
        overflow-wrap: break-word;
        margin: auto 2em;
    }
}
// Twitter登録
.twitter-container{
    .twitter-complete{
        margin: 2em;
    }
    .card{
        width: 300px;
        height: 300px;
        background-color: rgba(238, 238, 238, 0.616);
        margin: 2em auto;
        border-radius: 50%;
        .card-header{
            margin: 6em 4em 3em 4em;
            padding: 2em 0 1em 0;
            border-bottom: 1px solid #333;
        }
        .twitter-text{
            margin: 1em 0.5em;
        }
        .twitter-form{
            outline: none;
            border: 1px solid #333;
            border-radius: 10px;
            padding: 0.5em 0;
            margin: 0 0.5em;
        }
        .twitter-btn{
            display: inline-block;
            margin: 3em 2em 2em 2em;
            padding: 1em 2em;
            border: 1px solid #6b9cb2;
            border-radius: 10px;
            background-color: #57b2dc;
            &:hover{
                box-shadow: 2px 1px 2px #6989bb;
            }
        }
    }
}
// サイト登録
.site-container{
    .card{
        width: 300px;
        height: 300px;
        background-color: rgba(238, 238, 238, 0.616);
        margin: 2em auto;
        border-radius: 50%;
        .card-header{
            margin: 6em 4em 1em 4em;
            padding: 2em 0 1em 0;
            border-bottom: 1px solid #333;
        }
        .site-form{
            font-size: 0.5em;
            .site-form-text{
                outline: none;
                border: 1px solid #333;
                border-radius: 10px;
                display: block;
                margin: 0 auto;
                padding: 4px;
            }
            .site-comment{
                display: block;
            }
            .site-textarea{
                outline: none;
                border: 1px solid #333;
                border-radius: 10px;
                resize: none;
            }
            .site-checkbox{
                margin: 1em;
            }
            .site-btns{
                margin: 1em;
                .site-btn{
                    display: inline-block;
                    padding: 0.1em;
                    border: 1px solid #6b9cb2;
                    border-radius: 10px;
                    background-color: #57b2dc;
                    &:hover{
                        box-shadow: 2px 1px 2px #6989bb;
                    }
                }
            }
        }
    }
}
// コメントページ
.comment-top{
    .comment-title{
        margin: 2em 0;
    }
    .card{
        width: 300px;
        height: 300px;
        background-color: rgba(238, 238, 238, 0.616);
        margin: 2em auto;
        border-radius: 50%;
        .card-header{
            margin: 6em 4em 1em 4em;
            padding: 2em 0 1em 0;
            border-bottom: 1px solid #333;
        }
        .comment-link a{
            font-size: 1em;
            padding: 0.2em;
            margin: 0.5em auto;
            border: 1px solid #6b9cb2;
            border-radius: 10px;
            background-color: #57b2dc;
            display: block;
            width: 120px;
            &:hover{
                box-shadow: 2px 1px 2px #6989bb;
            }
        }
    }
}

.comment-container{
    background-color: rgba(238, 238, 238, 0.616);
    margin: 5%;
    margin-bottom: 3em;
    padding: 2em 0;
    border-radius: 45px;
    .comment-text{
        display: block;
        margin: 0.5em;
    }
    .comment-textarea, .form-edit-comment{
        width: 400px;
        height: 100px;
        outline: none;
        padding: 0.3em;
        border: 1px solid #333;
        border-radius: 10px;
        resize: none;
        @include mq(sm){
            width: 280px;
        }
    }
    .comment-post{
        margin-top: 1em;
    }
    .comment-list{
        margin-top: 1em;
    }
    .comment{
        overflow-wrap: break-word;
        width: 400px;
        margin: 0 auto;
        @include mq(sm){
            width: 280px;
        }
    }
    .comment-edit{
        margin-bottom: 1em;
    }
    .comment-btn, .btn-update-comment, .btn-destroy-comment{
        display: inline-block;
        padding: 0.1em;
        border: 1px solid #6b9cb2;
        border-radius: 10px;
        background-color: #57b2dc;
        &:hover{
            box-shadow: 2px 1px 2px #6989bb;
        }
    }
}
.pagination{
    display: flex;
    justify-content: center;
    margin-top: 1em;
    li{
        list-style: none;
        margin: 0.2em;
        padding: 0.3em;
        .page-link{
            color: #bbb;
        }
        a{
            &:hover{
                color: $sub-color;
            }
        }
    }
}

