* {
    margin: 0;
    border: 0;
    padding: 0;
    text-align: center;
    color: #ddd;
}

$breakpoints: (
    "sm": "screen and (max-width: 530px)",
    "md": "screen and (max-width: 740px)",
    "lg": "screen and (min-width: 1350px)",
) !default;

@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

body {
    height: 100%;
    background-color: $black;
    a {
        text-decoration: none;
    }
}

.top-wrapper{
    background-color:  linear-gradient(90deg, $navy 0%, $navy 50%, $black 50%, $black 100%);
}

.content {
    .title {
        padding-top: 5em;
        span {
            display: inherit;
        }
    }
    .login a {
        display: block;
        padding: 1em 2em;
        margin: 0 auto;
        margin-top: 4em;
        background-color: #444;
        color: #ddd;
        border-radius: 10px;
        width: 56px;
        height: 28px;
        &:hover {
            background-color: #ddd;
            color: #444;
            text-decoration: none;
        }
    }

    .content-text {
        margin-top: 2em;
        h2 {
            margin-top: 2em;
        }
        p {
            margin-top: 1em;
            .content-text-none {
                @include mq(sm) {
                    display: none;
                }
            }
        }
    }
}

// 泡表現

body {
    margin: 0;
    padding: 0;
    background-color: #222;
    background-size: contain;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}
