@import url("https://fonts.googleapis.com/css?family=Nunito");
* {
  margin: 0;
  border: 0;
  padding: 0;
  text-align: center;
  color: #ddd;
}

body {
  height: 100%;
}

body a {
  text-decoration: none;
}

.top-wrapper {
  background-color: linear-gradient(90deg, #0b1c41 0%, #0b1c41 50%, #222222 50%, #222222 100%);
}

.content .title {
  padding-top: 5em;
}

.content .title span {
  display: inherit;
}

.content .login a {
  display: block;
  padding: 1em 2em;
  margin: 0 auto;
  margin-top: 4em;
  background-color: #444;
  color: #ddd;
  border-radius: 10px;
  width: 56px;
  height: 28px;
}

.content .login a:hover {
  background-color: #ddd;
  color: #444;
  text-decoration: none;
}

.content .content-text {
  margin-top: 2em;
}

.content .content-text h2 {
  margin-top: 2em;
}

.content .content-text p {
  margin-top: 1em;
}

@media screen and (max-width: 530px) {
  .content .content-text p .content-text-none {
    display: none;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #222;
  background-size: contain;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
}

.flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 740px) {
  .flex-clear {
    display: inline-block;
    margin: 0 auto 3em auto;
  }
}

.container {
  padding: 1em 0;
  background-color: #eee;
}

.container a {
  margin: 0 2em;
}

.container li {
  list-style: none;
  margin: 0 2em;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style-type: none;
  color: #fff;
  padding: 0;
  margin: 0 2em;
}

.menu li {
  position: relative;
  width: 100px;
  margin-left: 1px;
  padding: 5px;
  background: #eee;
  margin: 0;
}

.menu-sub {
  position: absolute;
  right: 0;
  padding: 5px;
  display: none;
}

.menu .menu-margin {
  margin-top: 11px;
}

.menu-sub li a {
  padding: 5px;
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: -5px;
  display: block;
  color: #333;
  text-decoration: none;
}

.menu-sub li a:hover {
  background: #6989bb;
}

.login-container .card {
  width: 300px;
  height: 300px;
  background-color: rgba(238, 238, 238, 0.616);
  margin: 2em auto;
  border-radius: 50%;
}

.login-container .card .card-header {
  margin: 6em 4em 2em 4em;
  padding: 3em 0 1em 0;
  border-bottom: 1px solid #333;
}

.login-container .card .github-link a {
  display: inline-block;
  margin: 1em 2em 2em 2em;
  padding: 1em 2em;
  border: 1px solid #6b9cb2;
  border-radius: 10px;
  background-color: #57b2dc;
}

.login-container .card .github-link a:hover {
  -webkit-box-shadow: 2px 1px 2px #6989bb;
          box-shadow: 2px 1px 2px #6989bb;
}

.gallery-container .gallery-title {
  margin: 2em 0;
}

.gallery-container .gallery-main .gallery-comment p {
  color: #eee;
}

.gallery-container .card {
  width: 300px;
  height: 300px;
  background-color: rgba(238, 238, 238, 0.616);
  margin: 2em;
  border-radius: 50%;
}

.gallery-container .card .card-header {
  margin: 1em 4em 1em 4em;
  padding: 1em 0 1em 0;
  border-bottom: 1px solid #333;
}

.gallery-container .card .gallery-link p {
  margin: 1em 0;
}

.gallery-container .card .gallery-link a {
  font-size: 1em;
  padding: 0.2em;
  margin: 0.5em auto;
  border: 1px solid #6b9cb2;
  border-radius: 10px;
  background-color: #57b2dc;
  display: block;
  width: 120px;
}

.gallery-container .card .gallery-link a:hover {
  -webkit-box-shadow: 2px 1px 2px #6989bb;
          box-shadow: 2px 1px 2px #6989bb;
}

.gallery-container .gallery-comment {
  width: 300px;
  overflow-wrap: break-word;
  margin: auto 2em;
}

.twitter-container .twitter-complete {
  margin: 2em;
}

.twitter-container .card {
  width: 300px;
  height: 300px;
  background-color: rgba(238, 238, 238, 0.616);
  margin: 2em auto;
  border-radius: 50%;
}

.twitter-container .card .card-header {
  margin: 6em 4em 3em 4em;
  padding: 2em 0 1em 0;
  border-bottom: 1px solid #333;
}

.twitter-container .card .twitter-text {
  margin: 1em 0.5em;
}

.twitter-container .card .twitter-form {
  outline: none;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 0.5em 0;
  margin: 0 0.5em;
}

.twitter-container .card .twitter-btn {
  display: inline-block;
  margin: 3em 2em 2em 2em;
  padding: 1em 2em;
  border: 1px solid #6b9cb2;
  border-radius: 10px;
  background-color: #57b2dc;
}

.twitter-container .card .twitter-btn:hover {
  -webkit-box-shadow: 2px 1px 2px #6989bb;
          box-shadow: 2px 1px 2px #6989bb;
}

.site-container .card {
  width: 300px;
  height: 300px;
  background-color: rgba(238, 238, 238, 0.616);
  margin: 2em auto;
  border-radius: 50%;
}

.site-container .card .card-header {
  margin: 6em 4em 1em 4em;
  padding: 2em 0 1em 0;
  border-bottom: 1px solid #333;
}

.site-container .card .site-form {
  font-size: 0.5em;
}

.site-container .card .site-form .site-form-text {
  outline: none;
  border: 1px solid #333;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  padding: 4px;
}

.site-container .card .site-form .site-comment {
  display: block;
}

.site-container .card .site-form .site-textarea {
  outline: none;
  border: 1px solid #333;
  border-radius: 10px;
  resize: none;
}

.site-container .card .site-form .site-checkbox {
  margin: 1em;
}

.site-container .card .site-form .site-btns {
  margin: 1em;
}

.site-container .card .site-form .site-btns .site-btn {
  display: inline-block;
  padding: 0.1em;
  border: 1px solid #6b9cb2;
  border-radius: 10px;
  background-color: #57b2dc;
}

.site-container .card .site-form .site-btns .site-btn:hover {
  -webkit-box-shadow: 2px 1px 2px #6989bb;
          box-shadow: 2px 1px 2px #6989bb;
}

.comment-top .comment-title {
  margin: 2em 0;
}

.comment-top .card {
  width: 300px;
  height: 300px;
  background-color: rgba(238, 238, 238, 0.616);
  margin: 2em auto;
  border-radius: 50%;
}

.comment-top .card .card-header {
  margin: 6em 4em 1em 4em;
  padding: 2em 0 1em 0;
  border-bottom: 1px solid #333;
}

.comment-top .card .comment-link a {
  font-size: 1em;
  padding: 0.2em;
  margin: 0.5em auto;
  border: 1px solid #6b9cb2;
  border-radius: 10px;
  background-color: #57b2dc;
  display: block;
  width: 120px;
}

.comment-top .card .comment-link a:hover {
  -webkit-box-shadow: 2px 1px 2px #6989bb;
          box-shadow: 2px 1px 2px #6989bb;
}

.comment-container {
  background-color: rgba(238, 238, 238, 0.616);
  margin: 5%;
  margin-bottom: 3em;
  padding: 2em 0;
  border-radius: 45px;
}

.comment-container .comment-text {
  display: block;
  margin: 0.5em;
}

.comment-container .comment-textarea, .comment-container .form-edit-comment {
  width: 400px;
  height: 100px;
  outline: none;
  padding: 0.3em;
  border: 1px solid #333;
  border-radius: 10px;
  resize: none;
}

@media screen and (max-width: 530px) {
  .comment-container .comment-textarea, .comment-container .form-edit-comment {
    width: 280px;
  }
}

.comment-container .comment-post {
  margin-top: 1em;
}

.comment-container .comment-list {
  margin-top: 1em;
}

.comment-container .comment {
  overflow-wrap: break-word;
  width: 400px;
  margin: 0 auto;
}

@media screen and (max-width: 530px) {
  .comment-container .comment {
    width: 280px;
  }
}

.comment-container .comment-edit {
  margin-bottom: 1em;
}

.comment-container .comment-btn, .comment-container .btn-update-comment, .comment-container .btn-destroy-comment {
  display: inline-block;
  padding: 0.1em;
  border: 1px solid #6b9cb2;
  border-radius: 10px;
  background-color: #57b2dc;
}

.comment-container .comment-btn:hover, .comment-container .btn-update-comment:hover, .comment-container .btn-destroy-comment:hover {
  -webkit-box-shadow: 2px 1px 2px #6989bb;
          box-shadow: 2px 1px 2px #6989bb;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1em;
}

.pagination li {
  list-style: none;
  margin: 0.2em;
  padding: 0.3em;
}

.pagination li .page-link {
  color: #bbb;
}

.pagination li a:hover {
  color: #eee;
}
/*# sourceMappingURL=app.css.map */